.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.env
*.DS_Store
*.vscode/
.idea/
*.coverage
.coverage
*.mypy_cache/
.mypy_cache/
*.pytest_cache/
.pytest_cache/
*.tox/
data/